body {
  background-color: #f5f6fa;
  margin: 0;
  padding: 0;
}

.panel-bg {
  width: 1390px;
  margin: 0 auto;
  height: 95px;
  position: relative;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-top: 30px;
}

li {
  list-style: none;
}

.Bookstore-CMS {
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.BOOKS {
  width: 59px;
  height: 16px;
  font-family: Montserrat-Bold, Roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  margin-left: 50px;
}

.CATEGORIES {
  width: 105px;
  height: 16px;
  opacity: 0.5;
  font-family: Montserrat-Bold, Roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  margin-left: 50px;
}

.azure {
  color: #0290ff;
}

.Mask {
  width: 27px;
  height: 27px;
  position: absolute;
  right: 40px;
  top: 35px;
}
